<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    class="app-sidenav"
    #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <mat-toolbar color="primary">Contacts</mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>
    <button mat-button (click)="sidenav.toggle()">Toggle Sidenav</button>
  </mat-sidenav-content>
</mat-sidenav-container>
